<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>

  <div class="weather-container">
    <% if (weather === 'sunny') { %>
      <div class="sun"></div>
    <% } else if (weather === 'rainy') { %>
      <div class="rain">
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
      </div>
    <% } else if (weather === 'cloudy') { %>
      <div class="cloud"></div>
    <% } else if (weather === 'night'){ %>
      <%- include("partials/night.ejs") %>
    <% } %>
  </div>

  <div class="myLocation">
    <h1>My Location</h1>
  </div>

  <div class="grid-container">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
  </div>

</body>
</html>
